body{
    background-color:lightskyblue;

    font-family: 'Courier New', Courier, monospace;
    line-height: 2.0em;
    margin: 0%;
}
.container{
    margin: auto;
    width: 80%;
    overflow: hidden;
}
header{
    background-color: dodgerblue;
    color: white;
}
#bar{
    background-color: lightcoral;
    color: whitesmoke;
    border-bottom: 5px solid orange;
}
#bar ul{
    list-style: none;
    padding: 0%;
    float:right;

}
#bar li{
    display: inline;


}
#bar a{
    color: white;
    text-decoration: none;
    padding-right: 70px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}
#bar a:hover{
    color:DodgerBlue;
}
#design{
    background-image: url('../Images/image1.jpg');
    background-position: center right;
    min-height:300px;
    margin-bottom:20px;
    text-align: center;
    border-bottom: 5px solid blue;
}
#design h1{
    padding-top: 20px;
    font-size: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    float:left;
    width:70%;
    padding: 0 30px;
    box-sizing: border-box;
}
#leftbar{
    float: right;
    width:30%;
    background:blue;
    color:white;
    padding:10px;
    box-sizing: border-box;
}
footer{
    background-color: blue;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
@media(max-width:600px){
    #main{
        width:100%;
        float:none
    }
    #leftbar{
        width:100%;
        float:none;
    }
}